.container
{
    padding-left: 150px;
}

 .task-item-label{
    margin-right : right 10px;;
    }
    .checkbox{
    float: left;
    widows: 25px;;
    overflow:hidden;
    }
    .remove-item{
    float:left;
    widows: 25px;;
    overflow:hidden;
    } 
